body
{
  font-family: Arial, Helvetica, sans-serif;
}

img
{
  border: 0;
}

a:link, a:visited
{
  color: #C61A1A;
}

.logo
{
  height: 100px;
}

.logo, .searchbox
{
  width: 100%;
  text-align: center;
}

.menubar
{
  width: 100%;
  margin: 1ex 0;
  padding: 1px;
}

.menubar ul
{
  background: #C61A1A;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menubar li
{
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.menubar li a
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

.menubar a:link, .menubar a:visited
{
  color: white;
  text-decoration: none;
}

.menubar li a:hover
{
  text-decoration: underline;
}

ul.result_list
{
  list-style-type: none;
}

ul.result_list h2
{
  margin: 0;
}

ul.result_list p
{
  margin: 0;
}

ul.result_list li
{
  margin-bottom: 1em;
}

li.section_header
{
  text-align: center;
  background: #C0C0C0;
}

span.small
{
  font-size: 95%;
}

span.date
{
  color: #008000;
}

.footer
{
  border-top: 1px solid #C61A1A;
  color: #C61A1A;
  font-size: x-small;
}

.rate {
  font-size:small;
}

.gem-rating,
.gem-rating a:hover,
.gem-rating a:active,
.gem-rating a:focus,
.gem-rating .current-rating{
    background: url('/images/gem_rater.gif') left -1000px repeat-x;
}
.gem-rating{
    position: relative;
    width: 90px;
    height: 20px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: top left;
}
.star-rating li{
    display: inline;
}
.gem-rating a,
.gem-rating .current-rating{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 20px;
    line-height: 20px;
    outline: none;
    overflow: hidden;
    border: none;
}
.gem-rating a:hover,
.gem-rating a:active,
.gem-rating a:focus{
    background-position: center left;
}
.gem-rating a.one-gems{
    width: 20%;
    z-index: 6;
}
.gem-rating a.two-gems{
    width: 40%;
    z-index: 5;
}
.gem-rating a.three-gems{
    width: 60%;
    z-index: 4;
}
.gem-rating a.four-gems{
    width: 80%;
    z-index: 3;
}
.gem-rating a.five-gems{
    width: 100%;
    z-index: 2;
}
.gem-rating .current-rating{
    z-index: 1;
    background-position: bottom left;
}
.gem-ratings-block {
    font-size: small;
    text-align: center;
	width: 100%;
}
.rateit {font-size:small;}

