<%- @title = 'Latest' %>
<%- seen_months = {} %>
<ul class="result_list">
  <% @releases.each do |release| %>
    <% unless seen_months[release.released_on.month] %>
      <%- seen_months[release.released_on.month] = true %>
      <li class='section_header'>
        <h2>
          <%= release.released_on.strftime('%B') %>
        </h2>
      </li>
    <% end %>
    <%= render(:partial => 'releases/release', :locals => {
      :release => release
    }) %>
  <% end %>
</ul>
<%= will_paginate(@releases) %>
